<div *ngIf='cityWeatherData' class="ui-g-6 ui-md-4">
  <div class="ui-g">
    <div class="ui-g-2 ui-sm-6 ">Temp: </div>
    <div class="ui-g-10 ui-sm-6">{{(cityWeatherData.main.temp-273.15).toFixed(2)}} </div>

    <div class="ui-g-2 ui-sm-6">Humidity:</div>
    <div class="ui-g-10 ui-sm-6">{{cityWeatherData.main.humidity}} %</div>

    <div class="ui-g-2 ui-sm-6">Weather:</div>
    <div class="ui-g-10 ui-sm-6">{{cityWeatherData.weather[0].description}}</div>

  </div>
</div>