<div class="ui-g-12 ui-md-6">
  <p-dataList [value]='(citiesWeather$ | async)' [paginator]="true" [rows]="5">
    <p-header>



      <div class="ui-g">
        <div class="ui-g-8 ui-g-nopad">
          <div class="ui-g-10">
            <form>
              <div class="ui-inputgroup">
                <button pButton type="submit" label="Search" (click)='handleSearchClick($event)'></button>
                <input id="cityInput" type="text" pInputText placeholder="City name.">
              </div>
            </form>
          </div>
          <div class="ui-g-2"> </div>
        </div>
        <div class="ui-g-4">
        </div>
      </div>
    </p-header>

    <ng-template let-wdata pTemplate="item">
      <div class="ui-g-12 ui-md-12">
        <app-city-name [cityWeatherData]="wdata" class='ui-g-12 ui-md-3'></app-city-name>


        <app-city-weather-data [cityWeatherData]="wdata" class="ui-md-5"></app-city-weather-data>

        <div class="ui-g-2 ui-md-4" style='margin-left:auto ;'>

          <a href="#" (click)="handleUpdateClick($event,wdata)">
            <i class='fa fa-refresh' aria-hidden="true"></i>
          </a>

          <a href='#' (click)="handleDeleteClick($event,wdata)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </a>

        </div>
      </div>

    </ng-template>
    <p-footer>
      <button pButton (click)='clearAll()' label='clear'></button>
    </p-footer>
  </p-dataList>
</div>